# keep vendor/ checked in, but strip test suites and CI cruft (à la DokuWiki core)
vendor/bin/*
vendor/*/*/tests/*
vendor/*/*/test/*
vendor/*/*/.github
vendor/*/*/.travis.yml
vendor/*/*/phpunit.xml*
vendor/*/*/codeception.yml
vendor/*/*/phpcs.xml
vendor/*/*/phpstan*.neon
